<h1>observable!</h1>
<div id="output">

</div>

<hr>

<div>
    <h3 style="text-align: center;">Rxjs</h3>
    <div class="row">
        <div class="col">
            <a href="/CreationOperator"><strong>Creation Operator</strong></a>
        </div>
        <div class="col">
            <a href="/TransformationOperator"><strong>Transformation Operator</strong></a>
        </div>
        <div class="col">
            <a href="/FilteringOperator"><strong>Filtering Operator</strong></a>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <a href="/UtilityOperator"><strong>UtilityOperator Operator</strong></a>
        </div>
        <div class="col">
            <a href="/ErrorHandlingOperator"><strong>ErrorHandling Operator</strong></a>
        </div>
        <div class="col">
            <a href="/CombinationOperator"><strong>Combition Operator</strong></a>
        </div>
    </div>
    <div class="row">
      
        <div class="col">
            <a href="/Subject"><strong>Subject</strong></a>
        </div>
        <div class="col">
            <a href="/CustomObservable"><strong>Custom Observable</strong></a>
        </div>
        <div class="col">
            <a href="/ErrorHandlingOperator"><strong>ErrorHandling Operator</strong></a>
        </div>
    </div>

    <hr>
</div>

<div>
    <h3 style="text-align: center;">Other topics</h3>
    <div class="row">
        <div class="col">
            <a href="/Promise"><strong>Promise</strong></a>
        </div>
        <div class="col">
            <a href="/Questions"><strong>Technical Questions</strong></a>
        </div>
        <div class="col">
            <a href="/Interceptor"><strong>Interceptor</strong></a>
        </div>
    </div>
</div>