<div style="padding: 10px;">
    <h1 style="text-align: center;">Async Subject</h1>

    <div class="row">
        <div class="col-md-6">
            <h3>
                Async Subject
            </h3>
            <p>
                -- <strong>It emits its last value after completion </strong>

            </p>
            <hr>
            <div class="card">
                <div class="card-header">

                    <input type="text" class="form-control" #UpdateUsername placeholder="Username"
                        (keyup.enter)="updateUsername(UpdateUsername.value)">

                </div>

            </div>
        </div>



        <div class="col-md-6">

            <p>
                -- <strong>Complete the subscribe to get the last emited value </strong>

            </p>
            <hr>
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-success" (click)="completeSubscription()">
                        Complete Subscription
                    </button>
                </div>
                

            </div>
        </div>





    </div>
</div>