<div style="padding: 10px;">
    <h2 style="text-align: center;">
        Utiltity Operator
    </h2>
    <br>
    <div>
        <h4>
            Tap
        </h4>
        <p>
            -- It transprantly perform the actions or side effects, such as logging
        </p>
        <p>
            -- It will return the new Observable identical to the sourse Observable
        </p>
        <p>
            -- Used for debugging purpose
        </p>
        <p>
            -- It is not changing the streaming value
        </p>
        <p>
            --tap or do both are same operator. do is depricated
        </p>
        <p>
            -- used to track the data. how the changes are happening
        </p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <strong>Ex-01</strong>
                <hr>
                <ul id="output">

                </ul>
            </div>
            <div class="col-md-6">
                <strong>Ex-02</strong>
                <hr>
                <ul id="output1" [ngStyle]="{'color':colorpalet} ">

                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Finalze/Finally
                </h3>
                <p>
                    --Call a function when observable completes or errors
                </p>
            </div>
        </div>
    </div>

</div>