<h1>Promises</h1>
<div id="output">

</div>

<div style="margin: 10px">
    <div class="row">
        <div class="col">
            <h4>
                Promise
            </h4>
            <button class="btn btn-primary" (click)="Promisefun1()">
                buy laptop
            </button>
            <hr>
            <div id="result1">

            </div>
        </div>
        <div class="col">
            <h4>
                Async/Await
            </h4>
            <button class="btn btn-primary"(click)="asyncAwait()" >
                buy laptop
            </button>
            <hr>
            <div id="result2">

            </div>
        </div>

        <div class="col">
            <h4>
               Fetch Api
            </h4>
            <button class="btn btn-primary" (click)="fetchApi()">
                buy laptop
            </button>
            <hr>
            <div id="result3">

            </div>
        </div>
    </div>
</div>

